$OpenSansPath: "../../node_modules/open-sans-fontface/fonts";
@import "../../node_modules/open-sans-fontface/open-sans.scss";
@import "../../node_modules/highlight.js/styles/color-brewer.css";
@import "../../node_modules/material-colors/dist/colors.scss";

body, html {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  margin: 0;
}

h1 {
  padding: 0 0 0.25em;
  font-weight: normal;
  margin: 0;
}

h2 {
  padding: 0 0 0.5em;
  font-weight: normal;
  margin: 0;
}

h3 {
  padding: 0 0 0.25em;
  font-weight: normal;
  margin: 0;
}

a {
  color: $md-cyan-400;
}

a:visited {
  color: $md-indigo-700;
}

a:hover {
  color: $md-cyan-200;
}

.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background: $md-grey-50;
  flex-direction: column;
}

.container-body {
  display: flex;
  flex: 1;
}

.container-content {
  flex: 5;
  max-width: 1000px;
  padding: 1em 3em;
}

.container-nav {
  flex: 0 0 20em;
  color: $md-grey-50;
  background: $md-grey-900;
  padding: 1em 3em;
}

.container-fill-left {
  flex: 1;
  background: $md-grey-900;
}

.container-fill-right {
  flex: 1;
  background: $md-grey-50;
}

code {
  font-family: 'Consolas', 'Menlo', monospace;
  border-radius: 0.5em;
  font-size: 0.8em;
  padding: 0.5em;
  border: 1px solid $md-grey-200;
}

.nav a {
  color: $md-grey-50;
  text-decoration: none; 
}

.nav-links a {
  display: block;
  border-left: 1px solid $md-cyan-200;
  padding: 0.25em 0em 0.25em 1em;
  text-decoration: none;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 20em;
  color: $md-cyan-200;
}

.selected-link {
  display: block;
  border-left: 1px solid $md-cyan-50;
  padding: 0.25em 0em 0.25em 1em;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 20em;
  color: $md-cyan-50;
}

.nav-links a:hover {
  border-left: 1px solid $md-grey-50;
  color: $md-grey-50;
}

.fade-appear { opacity: 0.01 }
.fade-appear.fade-appear-active { opacity: 1; transition: opacity .25s ease-in }
.fade-enter { opacity: 0.01 }
.fade-enter.fade-enter-active { opacity: 1; transition: opacity 250ms ease-in }
.fade-leave { opacity: 1 }
.fade-leave.fade-leave-active { opacity: 0.01; transition: opacity 150ms ease-in }